<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Clothion</title>
</head>

<body>
    <div class="grid min-h-screen place-items-center" style="background-color: #f3f4f6; opacity: 1; background-image:  linear-gradient(#d1d5db 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(to right, #d1d5db 1.2000000000000002px, #f3f4f6 1.2000000000000002px); background-size: 24px 24px;">
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
</body>

</html>
