{%  extends 'base.html' %}
{% block content %}
<div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 bg-gray-50 text-gray-800">
	<form novalidate="" onsubmit="return generate_link();" class="space-y-8 ng-untouched ng-pristine ng-valid" data-bitwarden-watching="1">
		<div class="space-y-4">
			<div>
				<label for="calculate" class="block mb-2 text-sm">Operation</label>
				<select id="calculate" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 focus:ring-teal-500 focus:border-teal-500">
					<option value="sum" selected>sum</option>
					<option value="min">min</option>
					<option value="max">max</option>
					<option value="average">average</option>
					<option value="count">count</option>
					<option value="count_unique">count unique</option>
				</select>
			</div>
			<div>
				<label for="attribute" class="block mb-2 text-sm">Attribute</label>
				<select id="attribute" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 focus:ring-teal-500 focus:border-teal-500">
					{% for name, type in schema.items() %}
						<option value="{{ name }}">{{ name }}</option>
					{% endfor %}
				</select>
			</div>
			<div>
				<label for="allow_decimal" class="inline-flex items-center space-x-4 cursor-pointer text-gray-800">
					<span class="text-sm">Allow decimals</span>
					<span class="relative">
						<input id="allow_decimal" type="checkbox" class="hidden peer">
						<div class="w-10 h-6 rounded-full shadow-inner bg-gray-600 peer-checked:bg-teal-600"></div>
						<div class="absolute inset-y-0 left-0 w-4 h-4 m-1 rounded-full shadow peer-checked:right-0 peer-checked:left-auto bg-gray-100"></div>
					</span>
				</label>
			</div>
			<div>
				<label for="unit" class="block mb-2 text-sm">Unit <span class="text-xs text-gray-400">optional</span></label>
				<input type="text" name="unit" id="unit" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
			<div>
				<label for="title" class="block mb-2 text-sm">Title <span class="text-xs text-gray-400">optional</span></label>
				<input type="text" name="title" id="title" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
			<div>
				<label for="description" class="block mb-2 text-sm">Description <span class="text-xs text-gray-400">optional</span></label>
				<input type="text" name="description" id="description" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
		</div>
		<div>
			<div class="text-center">
				<button type="submit" class="px-8 py-3 font-semibold rounded-md bg-teal-600 hover:bg-teal-700 text-gray-50">Generate link</button>
			</div>
		</div>
	</form>
	<div id="urldiv" class="invisible flex items-center pt-12">
		<input id="url" type="text" value="https://example.com" class="w-full px-3 py-2 border rounded-l-md border-gray-300 bg-gray-50 text-gray-800">
		<button id="url_button" onclick="copy_url()" class="bg-teal-600 hover:bg-teal-700 text-gray-50 py-2 px-3 rounded-r-md">
			<svg id="clipboard_icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path>
				<path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
			</svg>
			<svg id="check_icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check hidden" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M5 12l5 5l10 -10"></path>
			</svg>
		</button>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	function generate_link() {
		document.getElementById("urldiv").classList.remove("invisible");

		// Retrieve the form's values
		var calculate = document.getElementById("calculate").value;
		var attribute = document.getElementById("attribute").value;
		var allow_decimal = document.getElementById("allow_decimal").checked;
		var unit = document.getElementById("unit").value;
		var title = document.getElementById("title").value;
		var description = document.getElementById("description").value;

		// Build the embed URL
		const root_url = window.location.href.split('/').slice(0, -1).join('/');
		const panel_url = root_url + '/panel';
		var embed_url = `${root_url}/panel?calculate=${encodeURIComponent(calculate)}&attribute=${encodeURIComponent(attribute)}&is_integer=${encodeURIComponent(!allow_decimal)}`;
		if (unit) {
			embed_url = `${embed_url}&unit=${encodeURIComponent(unit)}`;
		}
		if (title) {
			embed_url = `${embed_url}&title=${encodeURIComponent(title)}`;
		}
		if (description) {
			embed_url = `${embed_url}&description=${encodeURIComponent(description)}`;
		}

		// Show the URL
		document.getElementById("url").value = embed_url;

		// Reset some stuff
		unclick_url_button();
		return false;
	}

	function copy_url() {
		var urlInput = document.getElementById("url");
		urlInput.select();
		urlInput.setSelectionRange(0, 99999);
		document.execCommand("copy");
		window.getSelection().removeAllRanges();
		urlInput.blur();

		click_url_button();
	}

	function click_url_button() {
		document.getElementById("url_button").classList.add("opacity-50");
		document.getElementById("url_button").classList.remove("hover:bg-teal-700");
		document.getElementById("clipboard_icon").classList.add("hidden");
		document.getElementById("check_icon").classList.remove("hidden");
	}

	function unclick_url_button() {
		document.getElementById("url_button").classList.remove("opacity-50");
		document.getElementById("url_button").classList.add("hover:bg-teal-700");
		document.getElementById("clipboard_icon").classList.remove("hidden");
		document.getElementById("check_icon").classList.add("hidden");
	}
</script>
{% endblock %}
