{%  extends 'base.html' %}
{% macro table_attribute(name, type) %}
	{% if type in ["title", "rich_text", "text", "url", "email", "phone_number"] %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-align-justified" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M4 6l16 0"></path>
			<path d="M4 12l16 0"></path>
			<path d="M4 18l12 0"></path>
		</svg>
	{% elif type == "number" %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-123" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M3 10l2 -2v8"></path>
			<path d="M9 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3"></path>
			<path d="M17 8h2.5a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1 -1.5 1.5h-1.5h1.5a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1 -1.5 1.5h-2.5"></path>
		</svg>
	{% elif type in ["select", "multi_select", "status"] %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M8 9l4 -4l4 4"></path>
			<path d="M16 15l-4 4l-4 -4"></path>
		</svg>
	{% elif type in ["date", "created_time", "last_edited_time"] %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
			<path d="M16 3v4"></path>
			<path d="M8 3v4"></path>
			<path d="M4 11h16"></path>
			<path d="M11 15h1"></path>
			<path d="M12 15v3"></path>
		</svg>
	{% elif type in ["people", "created_by", "last_edited_by"] %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
			<path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
		</svg>
	{% elif type in ["files", "file"] %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5"></path>
		</svg>
	{% elif type == "checkbox" %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkbox" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M9 11l3 3l8 -8"></path>
			<path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"></path>
		</svg>
	{% elif type == "formula" %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-math-function" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M3 19a2 2 0 0 0 2 2c2 0 2 -4 3 -9s1 -9 3 -9a2 2 0 0 1 2 2"></path>
			<path d="M5 12h6"></path>
			<path d="M15 12l6 6"></path>
			<path d="M15 18l6 -6"></path>
		</svg>
	{% else %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alien" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M11 17a2.5 2.5 0 0 0 2 0"></path>
			<path d="M12 3c-4.664 0 -7.396 2.331 -7.862 5.595a11.816 11.816 0 0 0 2 8.592a10.777 10.777 0 0 0 3.199 3.064c1.666 1 3.664 1 5.33 0a10.777 10.777 0 0 0 3.199 -3.064a11.89 11.89 0 0 0 2 -8.592c-.466 -3.265 -3.198 -5.595 -7.862 -5.595z"></path>
			<path d="M8 11l2 2"></path>
			<path d="M16 11l-2 2"></path>
		</svg>
	{% endif %}
	<span class="text-gray-800">{{ name }}</span>
{% endmacro %}
{% set keys = schema.keys() | list %}
{% set values = schema.values() | list %}
{% set default_attr_name = keys[0] %}
{% set default_attr_type = values[0] %}
{% set operations = ["sum", "min", "max", "average", "count", "count unique"] %}
{% block content %}
<div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 bg-gray-50 text-gray-800">
	<form novalidate="" onsubmit="return generate_link();" class="space-y-8 ng-untouched ng-pristine ng-valid" data-bitwarden-watching="1">
		<div class="flex items-center -mx-4 space-x-2 overflow-x-auto overflow-y-hidden sm:justify-center flex-nowrap text-gray-800">
			<button type="button" id="tab_btn_panel" onclick="tab('panel')" class="flex items-center flex-shrink-0 px-5 py-2 border-b-4 border-teal-600 text-gray-800">Panel</button>
			<button type="button" id="tab_btn_chart" onclick="tab('chart')" class="flex items-center flex-shrink-0 px-5 py-2 border-b-4 border-gray-300 text-gray-500">Chart</button>
		</div>
		<div id="panel_form" class="space-y-4">
			<div>
				<label for="calculate" class="block mb-2 text-sm">Operation</label>
				<div id="calculate" class="relative block text-left">
					<div>
						<button type="button" onclick="drpdwn(this, 'calculate_selector_choices')" class="inline-flex justify-between items-center w-full gap-x-1.5 rounded-md bg-gray-50 px-2 py-2 text-gray-800 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100" id="calculate_selector_btn" aria-expanded="false" aria-haspopup="true">
							<div id="selected_operation" class="text-left flex items-center space-x-1">
								<span class="text-gray-800">{{ operations[0] }}</span>
							</div>
							<svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
							</svg>
						</button>
					</div>
					<div class="absolute right-0 z-10 mt-2 w-56 origin-top-right w-full rounded-md bg-gray-50 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="calculate_selector_btn" tabindex="-1" id="calculate_selector_choices">
						<div class="py-1" role="none">
							{% for op in operations %}
								<button type="button" onclick="select_option(this, 'selected_operation', 'calculate_selector_btn', 'calculate_selector_choices')" class="text-gray-800 block w-full px-2 py-2 text-left flex items-center space-x-1 hover:bg-gray-100" role="menuitem" tabindex="-1">
									<span class="text-gray-800">{{ op }}</span>
								</button>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div>
				<label for="attribute" class="block mb-2 text-sm">Attribute</label>
				<div id="attribute" class="relative block text-left">
					<div>
						<button type="button" onclick="drpdwn(this, 'attribute_selector_choices')" class="inline-flex justify-between items-center w-full gap-x-1.5 rounded-md bg-gray-50 px-2 py-2 text-gray-800 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100" id="attribute_selector_btn" aria-expanded="false" aria-haspopup="true">
							<div id="selected_attribute" class="text-left flex items-center space-x-1">
								{{ table_attribute(default_attr_name, default_attr_type) }}
							</div>
							<svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
							</svg>
						</button>
					</div>
					<div class="absolute right-0 z-10 mt-2 w-56 origin-top-right w-full rounded-md bg-gray-50 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="attribute_selector_btn" tabindex="-1" id="attribute_selector_choices">
						<div class="py-1" role="none">
							{% for attribute, type in schema.items() %}
								<button type="button" onclick="select_option(this, 'selected_attribute', 'attribute_selector_btn', 'attribute_selector_choices')" class="text-gray-800 block w-full px-2 py-2 text-left flex items-center space-x-1 hover:bg-gray-100" role="menuitem" tabindex="-1">
									{{ table_attribute(attribute, type) }}
								</button>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div>
				<label for="allow_decimal" class="inline-flex items-center space-x-4 cursor-pointer text-gray-800">
					<span class="text-sm">Allow decimals</span>
					<span class="relative">
						<input id="allow_decimal" type="checkbox" class="hidden peer">
						<div class="w-10 h-6 rounded-full shadow-inner bg-gray-600 peer-checked:bg-teal-600"></div>
						<div class="absolute inset-y-0 left-0 w-4 h-4 m-1 rounded-full shadow peer-checked:right-0 peer-checked:left-auto bg-gray-100"></div>
					</span>
				</label>
			</div>
			<div>
				<label for="unit" class="block mb-2 text-sm">Unit <span class="text-xs text-gray-400">optional</span></label>
				<input type="text" name="unit" id="unit" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
			<div>
				<label for="title" class="block mb-2 text-sm">Title <span class="text-xs text-gray-400">optional</span></label>
				<input type="text" name="title" id="title" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
			<div>
				<label for="description" class="block mb-2 text-sm">Description <span class="text-xs text-gray-400">optional</span></label>
				<input type="text" name="description" id="description" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
		</div>
		<div id="chart_form" class="space-y-4 hidden">
			<div>
				<label for="attribute2" class="block mb-2 text-sm">Attribute</label>
				<div id="attribute2" class="relative block text-left">
					<div>
						<button type="button" onclick="drpdwn(this, 'attribute_selector_choices2')" class="inline-flex justify-between items-center w-full gap-x-1.5 rounded-md bg-gray-50 px-2 py-2 text-gray-800 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100" id="attribute_selector_btn2" aria-expanded="false" aria-haspopup="true">
							<div id="selected_attribute2" class="text-left flex items-center space-x-1">
								{{ table_attribute(default_attr_name, default_attr_type) }}
							</div>
							<svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
							</svg>
						</button>
					</div>
					<div class="absolute right-0 z-10 mt-2 w-56 origin-top-right w-full rounded-md bg-gray-50 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="attribute_selector_btn2" tabindex="-1" id="attribute_selector_choices2">
						<div class="py-1" role="none">
							{% for attribute, type in schema.items() %}
								<button type="button" onclick="select_option(this, 'selected_attribute2', 'attribute_selector_btn2', 'attribute_selector_choices2')" class="text-gray-800 block w-full px-2 py-2 text-left flex items-center space-x-1 hover:bg-gray-100" role="menuitem" tabindex="-1">
									{{ table_attribute(attribute, type) }}
								</button>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div>
				<label for="description" class="block mb-2 text-sm">Description <span class="text-xs text-gray-400">optional</span></label>
				<input type="text" name="description" id="description" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
		</div>
		<div>
			<div class="text-center">
				<button type="submit" class="px-8 py-3 font-semibold rounded-md bg-teal-600 hover:bg-teal-700 text-gray-50">Generate link</button>
			</div>
		</div>
	</form>
	<div id="urldiv" class="invisible flex items-center pt-9">
		<input id="url" type="text" value="https://example.com" class="w-full px-3 py-2 border rounded-l-md border-gray-300 bg-gray-50 text-gray-800">
		<button id="url_button" onclick="copy_url()" class="bg-teal-600 hover:bg-teal-700 text-gray-50 py-2 px-3 rounded-r-md">
			<svg id="clipboard_icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path>
				<path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
			</svg>
			<svg id="check_icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check hidden" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M5 12l5 5l10 -10"></path>
			</svg>
		</button>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	function drpdwn(selector_btn, choices) {
		selector_choices = document.getElementById(choices);

		const expanded = selector_btn.getAttribute("aria-expanded") === "true";
		selector_btn.setAttribute("aria-expanded", !expanded);
		selector_choices.classList.toggle("hidden");
	}

	function select_option(selection, id_to_change, btn_id, choices_id) {
		const elem = document.getElementById(id_to_change);
		elem.innerHTML = selection.innerHTML;

		// Leave the dropdown
		document.getElementById(btn_id).setAttribute("aria-expanded", "false");
		document.getElementById(choices_id).classList.add("hidden");
	}

	const dropdowns = [
		{
			"btn": document.getElementById("calculate_selector_btn"),
			"choices": document.getElementById("calculate_selector_choices"),
		},
		{
			"btn": document.getElementById("attribute_selector_btn"),
			"choices": document.getElementById("attribute_selector_choices"),
		},
		{
			"btn": document.getElementById("attribute_selector_btn2"),
			"choices": document.getElementById("attribute_selector_choices2"),
		},
	]

	// Close the dropdown menus when clicking outside of it
	document.addEventListener("click", (event) => {
		const targetElement = event.target;
		dropdowns.forEach(function(d) {
			if (!d["choices"].contains(targetElement) && !d["btn"].contains(targetElement)) {
				d["btn"].setAttribute("aria-expanded", "false");
				d["choices"].classList.add("hidden");
			}
		});
	});

	function generate_link() {
		document.getElementById("urldiv").classList.remove("invisible");

		// Retrieve the form's values
		var calculate = document.getElementById("selected_operation").textContent.trim().replace(/\s+/g, "_");
		var attribute = document.getElementById("selected_attribute").textContent.trim();
		var allow_decimal = document.getElementById("allow_decimal").checked;
		var unit = document.getElementById("unit").value;
		var title = document.getElementById("title").value;
		var description = document.getElementById("description").value;

		// Build the embed URL
		const root_url = window.location.href.split("/").slice(0, -1).join("/");
		const panel_url = root_url + "/panel";
		var embed_url = `${root_url}/panel?calculate=${encodeURIComponent(calculate)}&attribute=${encodeURIComponent(attribute)}&is_integer=${encodeURIComponent(!allow_decimal)}`;
		if (unit) {
			embed_url = `${embed_url}&unit=${encodeURIComponent(unit)}`;
		}
		if (title) {
			embed_url = `${embed_url}&title=${encodeURIComponent(title)}`;
		}
		if (description) {
			embed_url = `${embed_url}&description=${encodeURIComponent(description)}`;
		}

		// Show the URL
		document.getElementById("url").value = embed_url;

		// Reset some stuff
		unclick_url_button();
		return false;
	}

	function copy_url() {
		var urlInput = document.getElementById("url");
		urlInput.select();
		urlInput.setSelectionRange(0, 99999);
		document.execCommand("copy");
		window.getSelection().removeAllRanges();
		urlInput.blur();

		click_url_button();
	}

	function click_url_button() {
		document.getElementById("url_button").classList.add("opacity-50");
		document.getElementById("url_button").classList.remove("hover:bg-teal-700");
		document.getElementById("clipboard_icon").classList.add("hidden");
		document.getElementById("check_icon").classList.remove("hidden");
	}

	function unclick_url_button() {
		document.getElementById("url_button").classList.remove("opacity-50");
		document.getElementById("url_button").classList.add("hover:bg-teal-700");
		document.getElementById("clipboard_icon").classList.remove("hidden");
		document.getElementById("check_icon").classList.add("hidden");
	}

	const forms = {
		"panel": document.getElementById("panel_form"),
		"chart": document.getElementById("chart_form"),
	}
	const tab_btns = {
		"panel": document.getElementById("tab_btn_panel"),
		"chart": document.getElementById("tab_btn_chart"),
	}

	function tab(option) {
		for(var f in forms) {
			forms[f].classList.add("hidden");
		}
		for(var b in tab_btns) {
			tab_btns[b].classList.remove("border-teal-600");
			tab_btns[b].classList.remove("border-gray-300");
			tab_btns[b].classList.remove("text-gray-800");
			tab_btns[b].classList.remove("text-gray-500");
			tab_btns[b].classList.add("border-gray-300");
			tab_btns[b].classList.add("text-gray-500");
		}

		forms[option].classList.remove("hidden")
		tab_btns[option].classList.remove("border-gray-300");
		tab_btns[option].classList.remove("text-gray-500");
		tab_btns[option].classList.add("border-teal-600");
		tab_btns[option].classList.add("text-gray-800");
	}
</script>
{% endblock %}
