{%  extends 'blank_base.html' %}
{% block content %}
<div class="items-center mx-auto w-full overflow-hidden">
    <canvas id="chart"></canvas>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Data
    var data = {{ data|tojson }}

    const chart_data = {
    type: '{{ chart }}',
    data: {
        labels: Object.keys(data),
        datasets: [
            {
                data: Object.values(data),
                backgroundColor: "rgba(13, 148, 136, 0.8)",
                hoverBackgroundColor: "rgba(13, 148, 136, 1)",
            },
        ],
    },
    };

    // Options
    const chart_options = {
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
        },
    };

    // Chart
    new te.Chart(
        document.getElementById("chart"),
        chart_data,
        chart_options
    );
    </script>
{% endblock %}
