{%  extends 'blank_base.html' %}
{% block content %}
<div class="items-center mx-auto w-full overflow-hidden">
    <canvas id="chart"></canvas>
    <!-- <canvas
        data-te-chart="bar"
        data-te-dataset-label="Traffic"
        data-te-labels="['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday' , 'Sunday ']"
        data-te-dataset-data="[2112, 2343, 2545, 3423, 2365, 1985, 987]"
        data-te-dataset-background-color="rgba(13, 148, 136, 0.8)"
        data-te-dataset-hover-background-color="rgba(13, 148, 136, 1)">
    </canvas> -->
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Data
    var data = {{ data|tojson }}

    const chart_data = {
    type: '{{ chart }}',
    data: {
        labels: Object.keys(data),
        datasets: [
            {
                data: Object.values(data),
                backgroundColor: "rgba(13, 148, 136, 0.8)",
                hoverBackgroundColor: "rgba(13, 148, 136, 1)",
            },
        ],
    },
    };

    // Options
    const chart_options = {
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
        },
    };

    // Chart
    new te.Chart(
        document.getElementById("chart"),
        chart_data,
        chart_options
    );
    </script>
{% endblock %}
