{%  extends 'base.html' %}
{% block content %}
<section class="py-6 bg-gray-100 text-gray-900">
	<div class="container mx-auto p-4 sm:p-10">
        <div class="relative flex flex-col items-center px-6 border-2 rounded-md border-teal-600 bg-gray-100">
            {% if title %}
                <span class="relative top-0 px-6 pt-1 pb-2 font-medium rounded-b-lg bg-teal-600 text-gray-50">{{ title }}</span>
            {% endif %}
            <p class="flex items-end justify-center mb-4 mt-4 font-bold">
                <span class="text-6xl">{{ value }}</span>
                {% if unit %}
                    <span class="text-4xl">{{ unit }}</span>
                {% endif %}
            </p>
            {% if description %}
                <span class="pb-2">{{ description }}</span>
            {% endif %}
        </div>
	</div>
</section>
{% endblock %}
{% block script %}
{% endblock %}
