{%  extends 'base.html' %}
{% block content %}
<div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 bg-gray-50 text-gray-800">
    <p class="max-w-md text-center text-2xl mb-8 font-semibold md:text-xl">Please wait while we are refreshing the data cache.</p>
    <div class="flex items-center justify-center space-x-2">
        <div class="w-4 h-4 rounded-full animate-pulse bg-teal-600"></div>
        <div class="w-4 h-4 rounded-full animate-pulse bg-teal-600"></div>
        <div class="w-4 h-4 rounded-full animate-pulse bg-teal-600"></div>
    </div>
    <p class="max-w-md text-center mt-6 text-md text-gray-500">You will be automatically redirected.</p>
</div>
{% endblock %}
{% block script %}
<script>
    const root_url = window.location.href.split('/').slice(0, -1).join('/');
    const refresh_url = root_url + '/data?' + new URLSearchParams({reset_cache: true});
    fetch(refresh_url)
        .then(response => {
            window.location.href = root_url;
        });
</script>
{% endblock %}
